<hr/>
<footer class='footer'>
    <p>&copy;2016, Giovanni Nunes — Para maiores informações ou contato, acesse meu blog em <a href='http://giovannireisnunes.wordpress.com' target='_BLANK'>giovannireisnunes.wordpress.com</a></p>
</footer>
